/* Your CSS Code here. */
.holder {
        /* background-color: blue; */
        /* color: white; */
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .child{
        background-color: blue;
        width: 100px;
        height: 100px;
        color: white;
        font-size: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }